.wrap{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top:10vh;

    .contents{
        width:50vw;
        height:100vh;
        outline:1px solid black;
    }

}