
.box{
    width: 100%;
    height: 100%;
    border-radius:50%;
    background-color: red;
    .img-container{
        width:100%;
        height:100%;
        scale: 90%;
        padding:0;
        overflow:hidden;
        border-radius: 50%;
        .profile-img{
            width:100%;
            height:100%;
        }
    }

}