@media (max-width:767px){
}
@media (min-width:768px) and (max-width:991px){
    .sideitem-container{
        width:362px;
        height:70px;
        .allam{
            width:15.2px;
        }
        .user-card{
            width:346.8px;
            .box{
                width:60px;
                height:60px;
            }
            .user-info{
                width:265.9px;
                .user-name{
                    width:190px;
                }
                .user-settings{
                    width:30px;
                }

            }
            .user-settings{
                margin-left:19px;
            }
        }
    }
}
@media (min-width:992px){
    .sideitem-container{
        width:362px;
        height:70px;
        .allam{
            width:15.2px;
        }
        .user-card{
            width:346.8px;
            .box{
                width:60px;
                height:60px;
            }
            .user-info{
                width:265.9px;
                .user-name{
                    width:190px;
                }
                .user-settings{
                    width:30px;
                }

            }
            .user-settings{
                margin-left:19px;
            }
        }
    }
}
@media (min-width:1200px){
}
@media (min-width:1400px){
}


.sideitem-container{
    padding-bottom:5px;
    margin-top:5px;
    border-bottom: 1px solid #cccccc;
    .allam{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float:left;
        height:100%;
    }
    .user-card{
        float:right;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        height:100%;
        .user-info{
            float:right;
            height:100%;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items:center;
        }
        .user-settings{
            display:flex;
            font-size: 18px;
            flex-direction: column;

        }
    }
}