.side-container{
    position:fixed;
    width:20vw;
    border-left: 2px solid rgb(199, 198, 198);
    height: 90vh;
    top:8vh;
    left:80vw;
    .close-container{
        height:2vh;
        margin-left: 5%;
        span{
            font-size: 1.5vh;
        }
    }
    .item-container{
        margin-left:1vw;
        margin-top:2vh;
        //outline: 1px solid black;
        width:18vw;
        height:75vh;
        overflow-y: scroll;
        overflow-x:hidden;
    }
    .button-container{
        width:18vw;
        margin-top:2vh;
        margin-left:1vw;
        .friend-add-button{
            width:18vw;
            border-radius:10px;
            border:0px solid black;
            height:6vh;
            color:white;
            background-color:rgb(92,225,230);
        }
    }
}