@media (min-width: 1200px){
    .container{
        .left{
            width: 700px;
            .logo-Container{
                width:500px;
                height:460px;
                border-right: 5px solid  rgba(92,225,230,0.6);
                padding-right: 35px;
            }
        }
        .right{
            width: 500px;
            padding:0px 0px 0px 20px ;

        }
    }

}
@media (max-width: 1199px){
    .container{
        width: 100vw;
        .left{
            width: 180px;
            .logo-Container{
                width:180px;
                height:166px;
                border-right: 4px solid  rgba(92,225,230,0.6);
                padding-right: 10px;
            }
        }
        .right{
            width: 120px;
            padding:0px 0px 0px 10px ;

        }
    }
}
.container{
    margin: auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    max-width: none;
    justify-content: center;
    align-items:center;

    .left{
        margin: 0px;
        padding: 0px;
        height: 100vh;
        padding-top: 15vh;

        .logo-Container {
            margin:0;
            float:right;
        
            .logo-Img {
                border-radius: 20%;
                width:100%;
                height:100%;
            }
        }
    }
    .right{
        margin: 0px;
        height: 100vh;
        padding-top: 15vh;
        
    }
}
