@media (min-width: 1200px){
    .form-container {
        margin-top:10px;
        font-size:18px;
        width: 450px;
        height:460px;
        .logo{
            padding-bottom: 60px;
        }
    }

}
@media (max-width:1199px){
    :global html{
        font-size: 6px;
    }
    .form-container {
        margin-top:10px;
        font-size:10px;
        width: 100px;
        height:166px;
        .logo{
            padding-bottom: 6px;
            h1{
                font-size:10px;
            }
        }
        .left-text{
            display: none;
        }
        .right-text{
            display: none;
        }
        .btn{
            width:50px;
        }
    }


}
.form-container {
    .logo{
        width:100%;
        text-align: center;
        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgba(92,225,230,1);
        }
    }
    .btn{
        background-color:rgba(92,225,230,0.8);
        border-color: rgba(92,225,230,1);
    }
    .right-text{
        float: right;
        cursor:pointer;
        top:1px;
    }
    .sing-Up{
        margin-left:10px;
        cursor: pointer;
    }

}