@media (min-width: 1200px){
    .form-container {
        margin-top:10px;
        font-size:18px;
        width: 450px;
        height:460px;
        .logo{
            padding-bottom: 60px;
        }
    }

}
@media (max-width:1199px){
    .form-container {
        margin-top:10px;
        font-size:10px;
        width: 100px;
        height:166px;
        .logo{
            padding-bottom: 6px;
            h1{
                font-size:10px;
            }
        }        
        :global .form-control{
            padding: 5px 3px 7px 3px;
            height:10px;
            font-size:7px;
            border-radius: 3px;
            font-weight: 200;
        }
        .left-text{
            display: none;
        }
        .right-text{
            display: none;
        }
        .btn{
            width:50px;
            height:0px;
            font-size:10px;
            padding:0px 0px 18px 0px;
        }
    }


}
.form-container {
    .logo{
        width:100%;
        text-align: center;
        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgba(92,225,230,1);
        }
    }
    .btn{
        background-color:rgba(92,225,230,0.8);
        border-color: rgba(92,225,230,1);
    }
    .right-text{
        float: right;
        cursor:pointer;
        top:1px;
    }
    .sing-Up{
        margin-left:10px;
        cursor: pointer;
    }

}